<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiktok.task.mapper.AdminMapper">
    <select id="HomePage" resultType="java.util.HashMap">
        SELECT
        -- 今日注册的用户数量
        (SELECT COUNT(*) FROM tk_users WHERE DATE(registration_time) = CURDATE()
        <if test="userId != null "> and create_by = #{userId}</if>
        ) AS today_registered_count,

        -- 总用户数量
        (SELECT COUNT(*) FROM tk_users
        <if test="userId != null "> WHERE create_by = #{userId}</if>
        ) AS total_user_count,

        -- SVIP等级大于0的用户数
        (SELECT COUNT(*) FROM tk_users WHERE svip_level > '0'
        <if test="userId != null "> and create_by = #{userId}</if>
        ) AS svip_user_count,

        -- 今日接单总数
        (SELECT COUNT(*) FROM tk_task_acceptances WHERE DATE(create_time) = CURDATE()) AS today_task_acceptance_count,

        -- 今日完成任务的用户数量
        (SELECT COUNT(DISTINCT uid) FROM tk_task_acceptances WHERE DATE(create_time) = CURDATE()) AS today_completed_task_users;
    </select>



</mapper>