<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiktok.task.mapper.TkRoyaltySettingMapper">

    <resultMap type="TkRoyaltySetting" id="TkRoyaltySettingResult">
        <result property="id"    column="id"    />
        <result property="first"    column="first"    />
        <result property="two"    column="two"    />
        <result property="three"    column="three"    />
        <result property="rewards"    column="rewards"    />
    </resultMap>

    <sql id="selectTkRoyaltySettingVo">
        select id, first, two, three, rewards from tk_royalty_setting
    </sql>

    <select id="selectTkRoyaltySettingList" parameterType="TkRoyaltySetting" resultMap="TkRoyaltySettingResult">
        <include refid="selectTkRoyaltySettingVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="first != null  and first != ''"> and first = #{first}</if>
            <if test="two != null  and two != ''"> and two = #{two}</if>
            <if test="three != null  and three != ''"> and three = #{three}</if>
            <if test="rewards != null  and rewards != ''"> and rewards = #{rewards}</if>
        </where>
    </select>

    <select id="selectTkRoyaltySettingById" parameterType="Long" resultMap="TkRoyaltySettingResult">
        <include refid="selectTkRoyaltySettingVo"/>
        where id = #{id}
    </select>

    <insert id="insertTkRoyaltySetting" parameterType="TkRoyaltySetting">
        insert into tk_royalty_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="first != null and first != ''">first,</if>
            <if test="two != null and two != ''">two,</if>
            <if test="three != null and three != ''">three,</if>
            <if test="rewards != null">rewards,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="first != null and first != ''">#{first},</if>
            <if test="two != null and two != ''">#{two},</if>
            <if test="three != null and three != ''">#{three},</if>
            <if test="rewards != null">#{rewards},</if>
        </trim>
    </insert>

    <update id="updateTkRoyaltySetting" parameterType="TkRoyaltySetting">
        update tk_royalty_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="first != null and first != ''">first = #{first},</if>
            <if test="two != null and two != ''">two = #{two},</if>
            <if test="three != null and three != ''">three = #{three},</if>
            <if test="rewards != null">rewards = #{rewards},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTkRoyaltySettingById" parameterType="Long">
        delete from tk_royalty_setting where id = #{id}
    </delete>

    <delete id="deleteTkRoyaltySettingByIds" parameterType="String">
        delete from tk_royalty_setting where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>