<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiktok.task.mapper.TkTaskAcceptancesMapper">
    
    <resultMap type="TkTaskAcceptances" id="TkTaskAcceptancesResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="taskId"    column="task_id"    />
        <result property="status"    column="status"    />
        <result property="submittedImage"    column="submitted_image"    />
        <result property="submissionTime"    column="submission_time"    />
        <result property="approvalTime"    column="approval_time"    />
        <result property="tips"    column="tips"    />
        <result property="createTime"    column="create_time"    />
        <result property="username"    column="username"    />
        <result property="taskTitle"    column="task_title"    />
        <result property="taskRewardAmount"    column="task_reward_amount"    />
        <result property="taskLevel"    column="task_level"    />
    </resultMap>

    <sql id="selectTkTaskAcceptancesVo">
        SELECT
            ta.id,
            ta.uid,
            ta.task_id,
            ta.status,
            ta.submitted_image,
            ta.submission_time,
            ta.approval_time,
            ta.create_time,
            ta.tips,
            tu.username,
            tt.title AS task_title,
            tt.reward_amount AS task_reward_amount,
            tt.task_level AS task_level

        FROM
            tk_task_acceptances ta
                JOIN tk_users tu ON ta.uid = tu.uid
                JOIN tk_tasks tt ON ta.task_id = tt.id
    </sql>

    <select id="selectTkTaskAcceptancesList" parameterType="TkTaskAcceptances" resultMap="TkTaskAcceptancesResult">
        <include refid="selectTkTaskAcceptancesVo"/>
        <where>  
            <if test="uid != null "> and ta.uid = #{uid}</if>
            <if test="taskId != null "> and ta.task_id = #{taskId}</if>
            <if test="tips != null "> and ta.tips = #{tips}</if>
            <if test="status != null  and status != ''"> and ta.status = #{status}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectTkTaskAcceptancesById" parameterType="Long" resultMap="TkTaskAcceptancesResult">
        <include refid="selectTkTaskAcceptancesVo"/>
        where ta.id = #{id}
    </select>
    <select id="selectUserSubmitToday"  resultMap="TkTaskAcceptancesResult">
        SELECT *
        FROM `tk_task_acceptances`
        WHERE `uid` = #{uid}
          AND `status` = '2'
          AND DATE(`submission_time`) = CURDATE();
    </select>

    <insert id="insertTkTaskAcceptances" parameterType="TkTaskAcceptances" useGeneratedKeys="true" keyProperty="id">
        insert into tk_task_acceptances
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="taskId != null">task_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="submittedImage != null">submitted_image,</if>
            <if test="submissionTime != null">submission_time,</if>
            <if test="approvalTime != null">approval_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="tips != null">tips,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="submittedImage != null">#{submittedImage},</if>
            <if test="submissionTime != null">#{submissionTime},</if>
            <if test="approvalTime != null">#{approvalTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="tips != null">#{tips},</if>
         </trim>
    </insert>

    <update id="updateTkTaskAcceptances" parameterType="TkTaskAcceptances">
        update tk_task_acceptances
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="tips != null">tips = #{tips},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="submittedImage != null">submitted_image = #{submittedImage},</if>
            <if test="submissionTime != null">submission_time = #{submissionTime},</if>
            <if test="approvalTime != null">approval_time = #{approvalTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTkTaskAcceptancesById" parameterType="Long">
        delete from tk_task_acceptances where id = #{id}
    </delete>

    <delete id="deleteTkTaskAcceptancesByIds" parameterType="String">
        delete from tk_task_acceptances where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>